aclocal.m4
ar-lib
autom4te.cache/
compile
config.h.in
configure
install-sh
missing
Makefile.in
depcomp
config.h.in~
config.guess
config.sub
ltmain.sh
m4/
*.stamp
main/main.c
parts/
snap/
picaster_source.tar.bz2
